figure{overflow: hidden;display: block;width: 100%;}
img{display: block;width: 100%; object-position: center; object-fit: cover;}
body{font-family: 'Time New Rome'; letter-spacing: 1px;}
.active{display: block !important;}
.footer_index_page{padding: 20px;text-align: center;background-color: #000;color: gold;margin-top: 50px;}


/*index page*/
.navbar_header_index{position: absolute;top: 0;left: 0;width: 100%;z-index: 999;background-color: #0000008c !important;}
.navbar_header_index .nav-link{color: #fff !important;}
.navbar_brand_index{font-style: italic;color: #e2ae55 !important;font-size: 35px;letter-spacing: 10px;}
.banner_top img{height: 100vh;}
.index_page{margin-top: 100px;}
.index_page .index_page_title h2{text-align: center; margin: 0; color: #e2ae55;font-size: 45px;font-style: italic; font-weight: 100; margin-bottom: 50px;}
.index_page_item{text-align: center;border: 1px solid #ccc;padding: 50px;box-shadow: 3px 3px 3px 3px #cccccc40;min-height: 300px;}
.index_page .index_page_list .item button{padding: 0;transition: all 2s;overflow: hidden;border: none;width: 100%;background-color: #fff;box-shadow: none;}
.index_page .index_page_list .item button img{transition: all 0.5s ease-in-out;height: 600px;}
.index_page .index_page_list .item button:hover img{transform: scale3d(1.1,1.1,1.1);}
.index_page h3{font-style: italic;font-size: 28px;}
.index_page_item p{color: #802525;}
.index_page_item tag {line-height:1.3}




/*cv_main page */
.cv_view{/* width: 100%; *//* margin:100px 0; */}
.cv_main{/* box-shadow: -30px 30px 25px 25px #ccc; */}
.left_info{background-color: #1c1616;}
.left_info_nopad{margin:0 -15px;}
.left_avatar{position: relative;}
.left_avatar img{height: 800px;}
figure{margin: 0;}
figcaption{position: absolute;bottom: 0;left: 0;color: #fff;padding: 50px;background-color: #0000008c;padding-bottom: 0;width: 100%;}
figcaption .header_intro{border-bottom: 10px solid orange;}
figcaption .header_intro h3{text-align: center; padding-bottom: 10px;border-bottom: 2px solid orange; margin-bottom: 30px;text-transform: uppercase; letter-spacing: 2px;}
figcaption .header_intro p{color: #ccc;text-align: justify;}
.left_info_nopad .left_contact{color: #ccc;padding: 50px;bottom: 0;left: 0;}
.left_contact h4{border-bottom: 2px solid orange; padding-bottom: 5px;margin-bottom: 10px;}
.left_contact p{color: #ccc;}
.item_contact{margin-top: 50px;}
.icon_contact i{font-size: 35px;}


.right_info{background-color: #ebe9e9;padding: 0 50px;padding-bottom: 50px;}
.right_info .underlined{width: 250px;height: 2px; background-color: orange;margin: 0 auto;}
.right_info .header_right_info{text-align: center;padding: 100px 0;}
.header_right_info h1{text-transform: uppercase; letter-spacing: 5px; color: orange; font-weight: 200;}
.header_right_info p{color: #ccc; font-size: 15px;;padding-bottom: 20px;position: relative;}
.right_item{margin-bottom: 100px;}
.right_item:last-child{margin-bottom: 0;}
.hedaer_item_right{margin-bottom: 30px;}
.hedaer_item_right h3{text-transform: uppercase;letter-spacing: 3px; padding-bottom: 20px; border-bottom: 2px solid orange;margin: 0%;font-weight: 400}
.right_item p{color: #ccc;margin-bottom: 50px;overflow-x: scroll;}
.right_item .main_info .item_list_info:last-child p{margin-bottom: 0;}
.left_place{border-right: 2px solid orange;position: relative;}
.left_place::after{content: '';position: absolute;top: 0px;right: -11px;width: 20px;height: 20px;border: 2px solid orange;border-radius: 100%;background-color: #ebe9e9;}
.left_place b{word-spacing: 1px;}

.modal_show_cv{max-width: 90%;}


/* cv_login_view */
.login_page_view,.admin_page_view{display: table;width: 100%;background-image: url('../image/115638.jpg');min-height: 100%;object-fit: cover;object-position: center;position: relative;}
.login_page_view::before{content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #ffffff61;}
.admin_page_view::before{content: "";position: absolute;width: 100%;top: 0;z-index: -1;left: 0;background-color: #ffffff5e;min-height: 100%;}
.login_input_view{position: relative; height: 100vh;}
.login_view_form{position: absolute;width: 80%;/* height: 126px; */left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);background-color: #fbf8f87a;padding: 100px;}
.login_index_button{float: left !important; background-color: lightpink !important;color: black !important;}
.login_view_submit{ float: right;background: powderblue !important;color: black;} 


/* admin_page */
.table{background-color: #fdfbffbf;}
/* .icon_admin a{font-size: 16px; width: 30px; height: 30px; margin-right: 10px; background-color: red; color: #fff;} */
.login_page_view table img{width: 150px;height: 150px;}
.input_form img{width: 150px; height: 150px;display: block;}
/* .table_design{overflow-x: auto;} */
.size_app{max-width: 800px;max-height: 100px;display: block;overflow: scroll;}
.config_item{height: 150px; overflow: scroll; margin-bottom: 0 !important;}
.cv_view .carousel a{opacity: 0; transition: all 0.5s ease-in-out;}
.cv_view .carousel:hover a{opacity: 1;}
.item_dashboard{background-color: #9a9696a3;padding: 50px;text-align: center;color: #fff;}
.item_dashboard h3{font-size: 23px;}